$font-montserrat: 'Montserrat', sans-serif


.section-title
  display: block
  text-align: center
  text-transform: uppercase
  font-size: 40px
  font-weight: 700
  margin-bottom: 20px
  color: $color-primary

.section-description
  font-weight: 400
  font-size: 16px
  line-height: 1.3
  color: $color-gray
