$font-abril: 'Abril Fatface', cursive
$font-open-sans: 'Open Sans', sans-serif

.section-title
  display: block
  text-align: center
  text-transform: uppercase
  font-family: $font-abril
  font-size: 40px
  font-weight: 100
  margin-bottom: 20px
  color: $color-primary

.section-description
  font-family: $font-open-sans
  font-weight: 300
  font-size: 16px
  line-height: 1.5
  color: $color-gray
