.section-title
	display: block
  text-align: center
  text-transform: uppercase
  font-size: 60px
  font-weight: 700
  margin-bottom: 20px
  color: #94886d
	text-transform: uppercase
.section-description
	color: $color-gray

.confirm
  background: url('../img/background-confirm.png')
  background-size: cover
  background-position: center
  padding: 100px 0
  .content
    text-align: center
    .section-title
      margin-bottom: 50px
      font-size: 40px
    .section-title,
    .section-description
      color: #FFFFFF

    .form
      display: flex
      justify-content: center
      align-items: center
      margin-top: 50px
      .input
        width: 100%
        max-width: 400px
        margin-right: 10px
        input
          height: 45px
          font-size: 16px
          text-align: center
          &.invalid
            border-color: $color-danger
            box-shadow: 0 0 3px $color-danger
      .button
        background: #5a523d
        border-color: #5a523d
